<h1>My events</h1>
<%= link_to 'All events', root_path %>
<%= link_to 'Create event', new_event_path %>
<h2>Created Events</h2>
<ul>
  <% @user.created_events.each do |event| %>
    <li><%= event.title %> - <%= event.date %></li>
  <% end %>
</ul>
<h2>Past events</h2>
<ul>
  <% @user.attended_events.where('date <= ?', DateTime.current.to_date).order(date: :asc).each do |event| %>
    <li><%= event.title %> - <%= event.date %></li>
  <% end %>
</ul>
<h2>Future events</h2>
<ul>
  <% @user.attended_events.where('date > ?', DateTime.current.to_date).order(date: :asc).each do |event| %>
    <li><%= event.title %> - <%= event.date %></li>
  <% end %>
</ul>



