<% if @event.errors.any? %>
  <% @event.errors.each do |error| %>
    <p><%= error.full_message %></p>
  <% end %>
<% end %>

<%= form_with model: @event do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div><%= f.submit 'Submit' %></div>
<% end %>
<%= link_to 'Back to events', root_path %>
  