<h1><%= @event.title %></h1>
<h2>Attendees</h2>
<ul>
  <% @event.attendees.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>

<p>
  <% if user_signed_in? %>
    <% if current_user.attended_events.exists?(@event.id) %>
      <%= link_to 'Leave Event', attendance_path(event_id: @event.id), method: :delete, data: { turbo_method: :delete }%>
    <% else %>
      <%= link_to 'Join Event', attendances_path(event_id: @event.id), method: :post, data: { turbo_method: :post } %>
    <% end %>
  <% end %>

  <% if current_user == @event.creator %>
    <%= link_to 'Delete event',event_path(@event.id), method: :delete, data: { turbo_method: :delete } %>
  <% end %>
  
  
  <%= link_to 'Back to events', root_path %>
</p>
